#insta {
    font-family: cursive;
}

#comment1{
    position: relative;
    right: 54rem;
    top: 0.5rem;
}
#comment2{
    position: relative;
    right: 54rem;
    top: 0.5rem;
}
#comment3{
    position: relative;
    right: 54rem;
    top: 0.5rem;
}

#home-tab {
    background-color: white;
    border-radius: 1rem;
}

#profile-tab {
    background-color: white;
    border-radius: 1rem;
}